/* You can add global styles to this file, and also import other style files */
body ,html{
    font-size: 14px;
    line-height: 1.4;
    height: 100%;
}
.header {
    height: 31px;
    background-color: black;
    color: white;   
    border-bottom: 3px solid #F8C73F
}

.header li {
    padding-top: 3px;
}
.header_below {
    background-color:#9E1B30;
    color: white;
}
.header_below_toplist {
    padding-top: 8px;
    
    
}

.header_below_toplist ul {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
}

.header_below_toplist li {
    border: 1px solid white;
    padding: 5px 10px;
    margin: 10px 20px 0px 20px;
    border-radius: 30px;
}

.header_below_toplist a {
    color: white;
}

.header_below_toplist ul li:last-child {
    border: none;
    padding: 0;
}


.header_below_toplist input {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 30px;
}

.header_below_belowlist li {
    padding: 8px;
    color: #F8C73F;
}

.header_below_belowlist li  a {
    color: #F8C73F;
}

.header_below_belowlist li  a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.category_list a{
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    
}
.category_list li {
    padding: 30px 10px 15px 10px;
}

.category_list {
    border-bottom: 3px solid #F8C73F;
}

.item-box {
    width: 90%; 
    margin: 0px auto;
    border: 1px solid rgb(219, 215, 215);
    padding: 15px;
    
}


.slick-slide {
    margin: 10px
}

.slick-slide img {
    width: 100%;
    border: 0px solid #fff
}

.featured_product_banner {
    width: 100%;
    height: 90%;
}
.new_image {
    width: 100%;
    padding-bottom: 20px;
}


.footer_logo {
    width: 50%;
    padding-bottom: 20px;
}

.gov-image {
    width: 180px;
    
}

.top-logo {
    width: 90%;
}

.top-logo-store {
    padding-top: 10px;
}

.carousel-inner img {
    background-size: cover;
}

.jewelry_category {
    padding-bottom: 20px;
    border-bottom: 2px solid #F6F6F8;
    background: url(https://baotinmanhhai.vn/web/uploads/slide/2568_2.jpg) center top #F6F6F8 no-repeat;
}

.jewelry_category_top_logo {
    padding-top: 70px;
    text-align: center;
}

.jewelry_category_list {
    text-align: center;
    margin-top: 120px;
}

.jewelry_category_list li {
    padding: 25px 30px 0px 30px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    
}

.jewelry_category_list ul li a {
    color: black;
} 

.jewelry_category_list ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.product {
    font-size: 16px;
}

.product h3{
    text-align: center;
    padding: 30px 0px 20px 0px;
    
}

.product h6 {
    padding-top: 15px;
    font-size: 18px;
}

.product a {
    color: black;
}

.product span {
    color: red;
    font-size: 16px;
}

.featured_product h3 {
    text-align: center;
    padding: 25px;
}


.News h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.news_content h5 {
    text-transform: uppercase;
    padding-bottom: 10px;
    
}

.news_content h5 a {
    color: black;
}

.news_content h5 a:hover {
    text-decoration: none;
    color: #ffdf16 ;
    
}

.news_details {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

.intro_container {
    background-color: #9E1B30;
    padding-left: 100px;
    padding-right: 60px;
    display: table-cell;
    color: white;
}

.Introduction {
    padding-top: 60px;
}

.Introduction h4 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px;
    font-size: 18px;
}

.service {
    padding-top: 60px;
    text-align: center;
}

.service h3 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;

}

.service_info {
    background-color: #EFEFF4;
    padding-top: 30px;
}

.service_box {
    padding-bottom: 30px;
    text-align: center;
    
}

.service_box h5 {
    text-transform: uppercase;
    font-weight: bold;
    color:#9E1B30;
    padding-top: 20px;
    font-size: 16px;
}

.service_image {
    width: 100px;
}

.service_content {
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px 50px 20px;
    margin-top: -40px;
}

.service_content a {
    color: black;
    border-bottom: 1px solid black;
}

.certificate {
    padding: 70px 0px 30px 0px;
}

.certificate_content {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    color: #6E6E6E;
    text-transform: uppercase;
}

.certificate_content p{
    font-size: 12px;
}

.certificate_content h5 {
    font-weight: 500;
}

.certificate_logo {
    height: 35px;
}

.footer_left_content {
    text-align: center;
    /* padding-top: 120px;
    padding-left: 100px; */
    padding-top: 120px;
    color: white;
    
}

.footer_left_content h5 {
    text-transform: uppercase;
    font-weight: 400;
    color: #F8C741;
    

}


.footer_right_content {
    background-color: #272535;
    color: white;
    padding: 40px 30px 30px 30px;
}

.footer_content {
    border-top: 5px solid #F8C73F;
    background-color: #9E1B30;
}

.company_branch_info {
    color: #F8C741;
    padding-bottom: 30px;
    
}

.company_branch_info h5 {
    text-transform: uppercase;
    font-weight: bold;
}

.company_branch_info p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 100;
}

.footer_service {
    
}

.footer_service h5{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F8C73F;
}

.footer_service a {
    color: white;
    
}

.footer_service .col {
    /* padding: 5px; */
}

.footer_address h6 {
    text-transform: uppercase;
    padding-top: 25px;
}

.follow_list li {
    padding-right: 15px;
}

.see_more_button {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: #9E1B30;
}

a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.header_leftmenu ul li a {
    padding-right: 20px;
    color: white;
}

.header_leftmenu ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.header_rightmenu ul li a{
    padding-left: 20px;
    color: white;
}


.header_rightmenu ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.footer_service_content {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.see_details_button {
    text-transform: capitalize;
    font-weight: bold;
    color: #9E1B30 ;
    padding: 10px 40px;
    border-radius: 40px;
    background-color: white;
}

.fixed_menu_list ul li{
    padding-top: 20px;
    padding-right: 5px;
    
}

.fixed_menu_list ul li a {
    color: #F8C73F;
}

.fixed_menu_list ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}


.fixed_menu {
    width: 100%;
    background-color: #9E1B30;
    opacity: 0.9;
    padding: 5px;

}


.carousel-indicators li {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}


.top-logo-fixed {
    width: 50%;
    padding-top: 5px;
}

.fixed_menu_search_bar {
    padding-top: 8px;
}


.fixed_menu_search_top {
    padding: 5px;
    padding-bottom: 10px;
    background-color: #9E1B30;
}
.fixed_menu_search_top input{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 30px;
    width: 70%;
    
}

.hambuger_icon {
    padding-top: 10px;
    color: white;
    float: right;

}

.fixed_menu_search_nav ul li{
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.fixed_menu_search_nav ul li a {
    color: #F8C73F;
}


.fixed_menu_search ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.category_list_mobile {
    display: none;
    border-bottom: 3px solid #F8C73F;
}

.category_list_mobile ul {
    list-style-type: none;
    text-transform: uppercase;
}

.category_list_mobile ul li {
    border-bottom: 1px solid #ececec;
    padding-top: 8px;
    padding-bottom: 8px;
}

.category_list_mobile ul li a {
    color: black;
}

.category_list_mobile ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
}

.fixed_menu_search_nav_mobile {
    text-align: center;
}

.fixed_menu_search_nav_mobile ul{
    list-style-type: none;

}

.fixed_menu_search_nav_mobile ul li {
    padding: 8px;
    border-bottom: 3px solid rgb(75, 107, 75);
}

.fixed_menu_search_nav_mobile ul li a {
    color: black;
} 


.fixed_menu_search_nav_mobile ul li a:hover {
    text-decoration: none;
    color: #ffdf16 ;
} 

.footer_service input {
    border-radius: 10px;
    padding: 5px 10px;
    width: 70%;
    background-color: #9E1B30;
}

.bt_system_button {
    text-transform: capitalize;
    color: white;
    border-radius: 10px;
    background-color: #9E1B30;
    width: 100%;
    padding: 8px;
   
}

.bt_system_button:hover {
    color: #ffdf16;
}

.dropdown-menu {
    background-color: rgb(233, 225, 225);
    opacity: 0.9;
}


.dropdown-menu a {
    color:black;
    padding: 10px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }



    
@media only screen and (max-width: 992px) and (min-width: 768px) {

    .jewelry_category {
        padding-bottom: 100px;
    }

    .jewelry_category_top_logo {
        padding-top: 10px;
    }
    .fixed_menu {
        display: none;
    }

    .category_list li {
        padding: 10px;
    }

    .jewelry_category_list {
        display: none;
    }

    .carousel_img {
        /* height: 300px; */
        height: 400px;
    }

    .certificate_content {
        margin: 10px;
    }

    .footer_left_content {
        padding-top: 20px;
    }

    .footer_logo {
        width: 20%;
    }

    .bt_system_button {
        width: 50%;
    }

}

@media only screen and (max-width: 768px) {
    /* body {
        background-color: rgb(201, 197, 214);
    } */

    .category_list_mobile {
        display: block;
    }

    .category_list {
        display: none;
    }


    .fixed_menu {
        display: none;
    }


    .jewelry_category_top_logo {
        padding-top: 10px;
    }

    .certificate_content {
        text-align: center;
        margin: 10px;
    }

    .category_list li {
        padding: 10px;
    }
    
    .jewelry_category_list {
        display: none;
    }

    .carousel_img {
        /* height: 300px; */
        height: 200px;
    }

    .footer_left_content {
        padding-top: 20px;
    }

    .footer_logo {
        width: 20%;
    }

    .bt_system_button {
        width: 40%;
    }


}

