.header_top{
    background-color: black;
    border-bottom: 3px solid gold;
}

.header_top a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12.5px;
}

.header_top a:hover{
    color: gold;
}


.header_middle a{
    color: white;
    text-decoration: none;
}

.header_middle{
    background-color:#9E1B30;
}

.header_middle a:hover{
    color: gold;
}

ul {
    list-style-type: none;
}

.row2 a{
    color: #F8C741;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.row1 {
    border-bottom: 1px solid white;
}

.body_1{
    border-bottom: 3px solid gold;
}

.body_1 a{
    color: black;
    text-decoration: none;
}

.body_1 a:hover{
    color: gold;
}

.body_2{
    background: url(https://baotinmanhhai.vn/web/uploads/slide/2568_2.jpg) 50% 0% no-repeat ;
    border: 2px solid #f6f6f8;
}

.body_2 a{
    text-decoration: none;
    color: black;
}
.body_2 a:hover{
    color: gold;
}

.body_slide a{
    color: black;
    text-align: center;
}

.body_button_xemnhieuhon a{
    color: #fff; 
    background-color: #9E1B30; 
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;
}

.body_video a{
    color: #9E1B30; 
    background-color: #fff; 
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}

.body_video a:hover{
    color: gold;
}

.body_dichvu{
    background-color: #efeff4; 
    padding-bottom: 30px;
}

.body_dichvu img{
    max-width: 100%;
    width: 50%;
}

.body_dichvu a{
    text-decoration: none;
}

.body_dichvu a:hover{
    color: gold;
}
.body_3{
    background-color: #fff; 
    margin-top: -100px;
}

.body_video{
    background-color: #9E1B30;
}

.body_video h5{
    color: white;
}

.content-service-badge .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
}

.content-service-badge h3 {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.content-service-badge p {
    font-size: 11px;
    font-weight: 500;
    color: #6E6E6E;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.body_slide a{
    text-decoration: none;
    font-weight: 500;
}

.body_slide a:hover{
    color: gold;
}



