<div id="footer" class="row">

  <div class="col-xl-4" style="background-color:#9E1B30;">
    <div class="row">
      <div class="col-xl-3"></div>

      <div class="col-xl-9" style="margin-top:126px; ">
        <div style="text-align: center;">
          <img src="https://www.baotinmanhhai.vn/images/logo.png" height="120px" alt="IMG">
        </div>
        <p style="margin: 20px 0 0 0; font-size: 18px;
                  font-weight:400; color: #F8C73F;
                  text-align: center;">
          GIỮ TÍN NHIỆM HƠN GIỮ VÀNG</p>
        <p style="margin: 10px 0 0 0;
              font-weight:400; color:white;
              text-align: center;">
          1992 - 2021 CÔNG TY TNHH BẢO TÍN MẠNH HẢI</p>
        <p style="margin: 10px 0 0 0;
              font-weight:400; color:white;
              text-align: center;">
          All Rights reserved</p>
      </div>

    </div>
  </div>

  <div class="col-xl-8" style="padding: 26px 30px;
                          background-color: #272535;">
    <div class="row">
      <div class="col-xl-8">
        <div id="address">
          <h3>CÔNG TY VÀNG BẠC ĐÁ QUÝ BẢO TÍN MẠNH HẢI</h3>
          <p style="color: #F8C73F;">Chi nhánh 1: 39 Nguyễn Trãi, Quận Thanh Xuân</p>
          <p style="color: #F8C73F;">Chi nhánh 2: 15 Quang Trung, Quận Hà Đông</p>
          <p style="color: #F8C73F;">Chi nhanh 3: 16 Trần Duy Hưng, Quận Cầu Giấy</p>
          <p style="color: #F8C73F;">Chi nhánh 4: 8 Hoàng Cầu, Quận Đống Đa, Hà Nội</p>
          <p style="color: #F8C73F;">Chi nhánh 5: 44 Cầu Gỗ, Quận Hoàn Kiếm, Hà Nội</p>
          <p style="color: #F8C73F;">Hotline: 024 2233 9999</p>
          <p style="color: #F8C73F;">Email: contact@baotinmanhhai.vn</p>
        </div>
      </div>
      <div class="col-xl-3">
        <a href="#">
          <img src="https://www.baotinmanhhai.vn/images/logoSaleNoti.png" width="270px" height="102px" alt="ERROR">
        </a>
      </div>
    </div>

    <div class="row" style="margin-top: 40px; padding:0 15px;">
      <a href="#">
        <img src="https://www.baotinmanhhai.vn/img/facebook.png" alt="ERROR">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="https://www.baotinmanhhai.vn/img/google-plus.png" alt="ERROR">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="https://www.baotinmanhhai.vn/img/youtube.png" alt="ERROR">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="https://www.baotinmanhhai.vn/img/zalo1.png" alt="ERROR">
      </a>
      <a href="#" style="margin-left: 20px;">
        <img src="https://www.baotinmanhhai.vn/img/Instagram.png" alt="ERROR">
      </a>
    </div>

    <div class="footer_row row" style="margin-top:30px;">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-3">
            <h4 style="color: #fff;">
              Đăng Ký Thông Tin</h4>
            <div class="ft-line" style="border-top: 1px solid #F8C741 !important;"></div>
            <p style="margin:20px 0;line-height: 23px; color: #fff;">
              Hãy để lại thông tin của bạn,
              chúng tôi sẽ sớm liên hệ để cung cấp thông tin
              chính xác sớm và phù hợp nhất.</p>
            <br>
            <br>
            <form action="#">
              <input type="email" placeholder="Nhập email của bạn ...">
              <button type="submit">
                <img src="./img/footer/go.png" height="7px" alt="">
              </button>
            </form>
          </div>
          <div class="col-xl-3">
            <h4 style="color: #fff;">Bảo Tín Mạnh Hải</h4>
            <div class="ft-line" style="border-top: 1px solid #F8C741 !important;"></div>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" >Trang chủ</a><br>
              <a href="#" >Giới thiệu BTMH</a><br>
              <a href="#" >Sản phẩm</a><br>
              <a href="#" >Tin tức-Sự kiện</a><br>
              <a href="#" >Video</a><br>
            </div>
            <div class="col-md-12 d-flex justify-content-center footer_button">
              <a href="https://www.baotinmanhhai.vn/tin-tuc"
                >Hệ thống vàng Bảo Tín</a>
            </div>
          </div>
          <div class="col-xl-3">
            <h4 style="color: #fff;">Hỗ Trợ Mua Hàng</h4>
            <div class="ft-line" style="border-top: 1px solid #F8C741 !important;"></div>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" >Hướng dẫn mua hàng</a><br>
              <a href="#" >Hướng dẫn thanh toán</a><br>
              <a href="#" >Phương thức vận chuyển</a><br>
              <a href="#" >Bảo hành thu đổi</a><br>
              <a href="#" >Đo size trang sức</a><br>
              <a href="#" >Cách sử dụng trang sức</a><br>
              <a href="#" >Tra cứu đơn hàng</a><br>
              <a href="#" >Chính sách bảo vệ thông tin cá nhân của người dùng</a><br>
            </div>
          </div>
          <div class="col-xl-3">
            <h4 style="color: #fff;">Cẩm Nang Sử Dụng</h4>
            <div class="ft-line" style="border-top: 1px solid #F8C741 !important;"></div>
            <div style="margin:20px 0; line-height: 23px;">
              <a href="#" >Trang sức theo tháng sinh</a><br>
              <a href="#" >Trang sức theo phong thủy</a><br>
              <a href="#" >Đo size trang sức</a><br>
              <a href="#" >Cách sử dụng trang sức</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-10">
        <h4 style="padding: 20px 0 0 0;
                      border: none;
                      border-top: 1.5px solid white; color: white; ">CÔNG TY TNHH BẢO TÍN MẠNH HẢI</h4>
        <p style="margin: 20px 0 0 0; color: white;">Số 39, Nguyễn Trãi, Phường Khương Trung, Quận Thanh Xuân, Hà Nội - ĐT: 024
          2233 9999 - Email: contact@baotinmanhhai.vn</p>
        <p style="color: white;">Giấy chứng nhận đăng ký kinh doanh: 0100380838</p>
      </div>
    </div>
  </div>

</div>
