#header-info{  
    background-color: black;
    font-family: SVN Gotham !important;
    font-size: 11px;
    line-height: 27px;
    color: #fff;
    border-bottom: 3px solid #f8c73f;
}

#header-info a{
    text-decoration: none;
}

#header-info a:hover{
    color: #f8c73f;
}

#header-info .font{
    padding: 0 20px;
    font-size: 13px;
    font-weight: 500;
    color: white;
}
#header-info .icon{
    margin: 0 10px;
    font-size: 20px;
    color: white;
}