<div class="row">
    <div class="col-md-4 footer-left">
        <div class="footer-logo">
            <img class="mw-100 my-3" src="./assets/image/logo.png" style="height: 120px;">
            <h2>GIỮ TÍN NHIỆM HƠN GIỮ VÀNG</h2>
            <p>© 1992 - 2021 CÔNG TY TNHH BẢO TÍN MẠNH HẢI</p>
            <p>All Rights reserved</p>
        </div>
    </div>
    <div class="col-md-8 footer-right py-5 px-4">
        <div class="row">
            <div class="col-md-8 ">
                <div class="address">
                    <h3>CÔNG TY VÀNG BẠC ĐÁ QUÝ BẢO TÍN MẠNH HẢI</h3>
                    <p>Chi nhánh 1: 39 Nguyễn Trãi, Quận Thanh Xuân</p>
                    <p>Chi nhánh 2: 15 Quang Trung, Quận Hà Đông</p>
                    <p>Chi nhánh 3: 16 Trần Duy Hưng, Quận Cầu Giấy</p>
                    <p>Chi nhánh 4: 8 Hoàng Cầu, Quận Đống Đa, Hà Nội</p>
                    <p>Chi nhánh 5: 44 Cầu Gỗ, Quận Hoàn Kiếm, Hà Nội</p>
                    <p>Hotline:
                        <a href="tel:02422339999 ">024 2233 9999
                            </a>
                    </p>
                    <p>Email: contact@baotinmanhhai.vn</p>
                </div>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <img class="mw-100" src="./assets/image/logoSaleNoti.png">
                </a>
            </div>
        </div>
        <div class="network-btn d-flex flex-row mt-4">
            <a class="mr-3" href="#">
                <img src="./assets/image/facebook.png">
            </a>
            <a class="mr-3" href="#">
                <img src="./assets/image/google-plus.png">
            </a>
            <a class="mr-3" href="#">
                <img src="./assets/image/youtube.png">
            </a>
            <a class="mr-3" href="#">
                <img src="./assets/image/zalo1.png">
            </a>
            <a class="mr-3" href="#">
                <img src="./assets/image/Instagram.png">
            </a>
        </div>

        <div class="footer-menu col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <h3 class="py-2">Đăng Ký Thông Tin</h3>
                    <p>Hãy để lại thông tin của bạn, chúng tôi sẽ sớm liên hệ để cung cấp thông tin chính xác sớm và phù hợp nhất.</p>
                    <input class="email-input" type="text" placeholder="Nhập email của bạn">
                </div>
                <div class="col-md-3">
                    <h3 class="py-2">Bảo Tín Mạnh Hải</h3>
                    <a href="#">Trang chủ</a><br>
                    <a href="#">Giới thiệu BTMH</a><br>
                    <a href="#">Sản phẩm</a><br>
                    <a href="#">Tin tức - sự kiện</a><br>
                    <a href="#">Video</a>
                    <div style="background-color: #951c30;
                        border: none; margin-top: 10px;
                        padding:10px;
                        border-radius: 10px;
                        max-width: 100%;">
                        <a href=" # ">Hệ thống vàng Bảo Tín</a>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <h3 class="py-2">Hỗ trợ mua hàng</h3>
                    <a href="#">Hướng dẫn mua hàng</a><br>
                    <a href="#">Hướng dẫn thanh toán</a><br>
                    <a href="#">Phương thức vận chuyển</a><br>
                    <a href="#">Bảo hành thu đổi</a><br>
                    <a href="#">Đo size trang sức</a><br>
                    <a href="#">Cách sử dụng trang sức</a><br>
                    <a href="#">Tra cứu đơn hàng</a><br>
                    <a href="#">Chính sách bảo vệ thông tin cá nhân của người tiêu dùng</a>
                </div>
                <div class="col-md-3 ">
                    <h3 class="py-2">Cẩm nang sử dụng</h3>
                    <a href="#">Trang sức theo tháng sinh</a><br>
                    <a href="#">Trang sức theo phong thủy</a><br>
                    <a href="#">Đo size trang sức</a><br>
                    <a href="#">Bảo hành thu đổi</a><br>
                    <a href="#">Cách sử dụng trang sức</a><br>

                </div>
            </div>
        </div>

        <div class="col-md-10 my-4">
            <div class="footer-info py-3">
                <p style="font-size: 13px;
                color: #fff;
                line-height: 23px;">CÔNG TY TNHH BẢO TÍN MẠNH HẢI</p>
                <p style="font-size: 13px;
                color: #fff;
                line-height: 23px;">Số 39, Nguyễn Trãi, Phường Khương Trung, Quận Thanh Xuân, Hà Nội - ĐT: 024 2233 9999 - Email: contact@baotinmanhhai.vn<br> Giấy chứng nhận đăng ký kinh doanh: 0100380838
                </p>
            </div>
        </div>
    </div>
</div>