#jewelry{
    margin-top: 20px;
    background-color: #f6f6f8;
    padding: 0 70px 2px 70px;
}

#jewelry .back{
    position: relative;
    background-image: url("../../../img/body/jewelry/background-img.jpg");
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#jewelry .front-menu{
    width: inherit;
    height: auto;
}

#jewelry .custom{
    padding: 30px 40px 0 40px;
}

#jewelry .front{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    text-align: center;
}

#jewelry .front h3{
    font-size: 24px;
    font-weight: 400;
    margin: 30px 0 0 0;
}

#jewelry h3{
    font-size: 24px;
    font-weight: 500;
    margin: 0 30px;
}

#jewelry .front-menu{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 25%);
    text-align: center;
}

#jewelry h4{
    margin: unset;
    color: black;
    font-size: 13px;
    font-weight: 400;
}

