#my-service h3{
    margin: 50px 20px;
    font-size: 22px;
    font-weight: 400;
}

#my-service h4{
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #9E1B30;
}

#my-service p{
    margin: 20px 0 0 0;
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

#my-service a{
    color: black;
    /* text-decoration: none!important; */
    text-align: center;
}

#my-service a:hover{
    color: #f8c73f;
}

#my-service .custom{
    margin-top: 114px;
    border-radius: 10px;
    background-color: white;
    padding: 80px 20px 50px;
}

#my-service .img-box{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#my-service .img-box .img-custom{
    width: 180px;
    border-radius: 50%;
}