#news h3{
    margin: 50px 20px;
    font-size: 22px;
    font-weight: 400;
}

#news a{  
    text-decoration: none!important;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#news a:hover{
    color: #f8c73f;
}

#news p{
    color: #6E6E6E;
    font-size: 14px;
    font-weight: 400;
}

#news .link-custom{
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #951c30;
}

#news-content img{
    width: auto;
}