#slider .carousel{
    margin: unset;
}

#myCarousel-slider .carousel-indicators{
    bottom: 0;
}

#myCarousel-slider .carousel-indicators li {
    text-indent: 0px;
    text-align: center;
    color: red;
    margin: 0 2px;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100%;
    line-height: 10px;
    background-color: #e3c390;
    transition: all 0.25s ease;
}
#myCarousel-slider .carousel-indicators .active, .hover {
    margin: 0 2px;
    width: 10px;
    height: 10px;
    background-color: #FF0000;
}

#myCarousel-slider img{
    height: 600px;
}