<div class="header-top d-none d-xl-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-horizontal-md">
                    <li class="header-top-content d-flex justify-content-center">
                        <a href="#">
                                024 22 33 9999
                            </a>
                    </li>
                    <li class="header-top-content">
                        <a href="#">Contact@baotinmanhhai.vn
                            </a>
                    </li>
                </ul>
            </div>
            <div class="col d-flex justify-content-end">
                <ul class="list-group list-group-horizontal-md">
                    <li class="header-top-content d-flex justify-content-center">
                        <a href="#">Hướng dẫn mua hàng</a>

                    </li>
                    <li class="header-top-content  d-flex justify-content-center">
                        <a href="#">Đăng nhập</a>
                    </li>
                    <li class="header-top-content  d-flex justify-content-center">
                        <a href="#">Đăng ký</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="header-below">
    <div class="container">
        <div class="row">
            <div class="header-below-logo col-lg-3 d-flex justify-content-center">
                <img class="img-responsive fit-image" src="./assets/image/logo.png" alt="">
            </div>
            <div class="header-below-menu col-lg-9">
                <div class="header-below-menu-top d-flex justify-content-center">
                    <ul class="list-group list-group-horizontal-md">
                        <li class="header-btn d-flex justify-content-center align-items-center">
                            <a href="#">Hệ thống cửa hàng</a>
                        </li>
                        <li class="header-btn d-flex justify-content-center align-items-center">
                            <a href="#">Thẻ ưu đãi BTMH</a>
                        </li>
                        <li class="header-btn d-flex justify-content-center align-items-center">
                            <a href="#">Giỏ hàng (0)</a>
                        </li>
                        <li class="header-btn d-flex justify-content-center align-items-center">
                            <input class="search-input" type="text" placeholder="Tìm kiếm trang sức đẹp..">
                        </li>
                    </ul>

                </div>
                <div class="header-below-menu-bottom d-flex justify-content-center container">
                    <ul class="list-group list-group-horizontal-md">
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a [routerLink]="['']">TRANG CHỦ</a>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center">
                            <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">GIAO DỊCH</a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">VÀNG</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a [routerLink]="['/rate']">TỈ GIÁ</a></li>
                                        <li class="dropdown-item"><a [routerLink]="['/buy-sell']">MUA - BÁN</a></li>
                                        <li class="dropdown-item"><a [routerLink]="['/export']">EXPORT</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" href="#">USD</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a [routerLink]="['/rate']">TỈ GIÁ</a></li>
                                        <li class="dropdown-item"><a [routerLink]="['/buy-sell']">MUA - BÁN</a></li>
                                        <li class="dropdown-item"><a [routerLink]="['/export']">EXPORT</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">SẢN PHẨM</a>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">BỘ SƯU TẬP</a>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">TIN TỨC</a>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">VIDEO</a></li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">SALE</a></li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">THẦN TÀI</a>
                        </li>
                        <li class="header-menu-item d-flex justify-content-center align-items-center"><a href="#">LIÊN HỆ</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>