<div class="content">
    <div class="content-slide-top">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/oanh/banner_1613524393.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/oanh/banner2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/oanh/banner%20%287%29.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/slide/web%20cover%20kim%20cuong%20-%20re.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/slide/anh%20bia%20c%20tuyen%201.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img style="display: none; height: 600px!important;" src="https://baotinmanhhai.vn/web/uploads/slide/anh%20bia%20c%20tuyen%201.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="content-menu">

        <div class="content-menu-top d-flex justify-content-center container">
            <ul class="list-group list-group-horizontal-md">
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">TRANG
                        SỨC
                        VÀNG</a></li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">TRANG
                        SỨC
                        BẠC</a></li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">TRANG
                        SỨC
                        CƯỚI</a></li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">KIM
                        CƯƠNG</a>
                </li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">ĐÁ
                        QUÝ</a></li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">NGỌC
                        TRAI</a>
                </li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">QUÀ
                        TẶNG</a>
                </li>
                <li class="content-menu-top-item d-flex justify-content-center align-items-center"><a href="#">BỘ
                        SƯU
                        TẬP</a>
                </li>
            </ul>

        </div>

        <div class="content-title-top">
            <div class="content-title-top-logo d-flex justify-content-center">
                <img class="img-responsive" src="./assets/image/logo.png" alt="">
            </div>
            <div class="content-title-top-text-1 d-flex justify-content-center">
                <h1>GIỮ TÍN NHIỆM HƠN GIỮ VÀNG</h1>
            </div>
            <div class="content-title-top-text-2 d-flex justify-content-center align-items-center">
                <img src="./assets/image/line-left.png">
                <h2>TRANG SỨC</h2>
                <img src="./assets/image/line-right.png">
            </div>
        </div>


        <div class="content-menu-bottom d-flex justify-content-center container">
            <ul class="list-group list-group-horizontal-md">
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">NHẪN</a>
                </li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">BÔNG
                        TAI</a>
                </li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">MẶT
                        DÂY
                        CHUYỀN</a></li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">DÂY
                        CHUYỀN</a></li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">KIỀNG</a>
                </li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">LẮC</a></li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">VÒNG
                        TAY</a>
                </li>
                <li class="content-menu-bottom-item d-flex justify-content-center align-items-center"><a href="#">XEM
                        TẤT
                        CẢ</a></li>
            </ul>
        </div>
    </div>

    <div class="content-new-product">
        <div class="content-new-product-title d-flex justify-content-center align-items-center">SẢN PHẨM MỚI</div>
    </div>

    <app-carousel></app-carousel>

    <div class="content-highlight-product">
        <div class="content-highlight-product-title d-flex justify-content-center align-items-center my-5">SẢN PHẨM NỔI BẬT
        </div>
        <div class="content-highlight-product-banner container-fluid">
            <div class="row">
                <div class="col-lg-6 d-inline-block banner">
                    <a href="#">
                        <img class="banner-img" src="https://baotinmanhhai.vn/web/uploads/oanh/banner%20%289%29.jpg">
                    </a>
                </div>
                <div class="col-lg-6 d-inline-block banner">
                    <a href="#">
                        <img class="banner-img" src="https://www.baotinmanhhai.vn/web/uploads/oanh/baiweb%20%282%29.jpg">
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="content-news">
        <div class="content-news-title d-flex justify-content-center align-items-center my-5">
            <img class="mx-2" src="./assets/image/line-left.png">TIN TỨC<img class="mx-2" src="./assets/image/line-right.png">
        </div>
        <div class="content-news-item container">
            <div class="row">
                <div class="col-4">
                    <div class="item">
                        <div class="item-img">
                            <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/nen%20quay%20so%20%281%29.jpg">
                        </div>
                        <div class="item-title my-3"><a href="#">BẢO TÍN MẠNH HẢI CÔNG BỐ KẾT QUẢ CHƯƠNG TRÌNH QUAY
                                SỐ VẠN QUÀ TẾT
                                – ĐÓN XUÂN SANG ĐỢT 1</a>
                        </div>
                        <div class="item-description">(BTMH) – Chương trình quay số trúng thưởng “Vạn quà tết – Đón xuân sang” được livestream trực tiếp vào ngày 20/2 (mùng 9 tết) đã tìm được những vị khách...
                        </div>
                        <div class="item-more my-3"><a href="#">XEM CHI TIẾT ></a></div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="item">
                        <div class="item-img">
                            <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/Ki%E1%BB%81ng%20v%C3%A0ng%2024K%20%281%29.jpg">
                        </div>
                        <div class="item-title my-3">
                            <a href="#">GIÁ VÀNG ĐẦU NĂM MỚI DẤU HIỆU GIẢM MẠNH TRƯỚC NGÀY VÍA THẦN TÀI</a>
                        </div>
                        <div class="item-description">(BTMH) – Chương trình quay số trúng thưởng “Vạn quà tết – Đón xuân sang” được livestream trực tiếp vào ngày 20/2 (mùng 9 tết) đã tìm được những vị khách...
                        </div>
                        <div class="item-more my-3"><a href="#">XEM CHI TIẾT ></a></div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="item">
                        <div class="item-img">
                            <img class="img-responsive" src="https://baotinmanhhai.vn/web/uploads/oanh/than%20tai%20web%207%20%281%29.jpg">
                        </div>
                        <div class="item-title my-3"><a href="#">VÍA THẦN TÀI TÂN SỬU 2021 NÊN MUA GÌ ĐỂ MAY MẮN CẢ
                                NĂM</a>
                        </div>
                        <div class="item-description">(BTMH) – Chương trình quay số trúng thưởng “Vạn quà tết – Đón xuân sang” được livestream trực tiếp vào ngày 20/2 (mùng 9 tết) đã tìm được những vị khách...
                        </div>
                        <div class="item-more my-3"><a href="#">XEM CHI TIẾT ></a></div>

                    </div>
                </div>

            </div>
            <div class="row justify-content-center my-3">
                <div class="btn-more"><a href="#">Xem nhiều hơn</a></div>
            </div>
        </div>
    </div>

    <div class="content-intro">
        <div class="container">
            <div class="row">
                <div class="col-7 content-intro-left px-5 py-4">
                    <div class="intro-title">
                        <h1>GIỚI THIỆU BẢO TÍN MẠNH HẢI</h1>
                    </div>
                    <div class="intro-line-img">
                        <img src="./assets/image/line-right.png">
                    </div>
                    <div class="intro-detail">
                        <p>Lấy ngành vàng là ngành kinh doanh cốt lỗi, trong gần 28 năm hình thành và phát triển Bảo Tín Mạnh Hải đã và đang là một trong số ít những thương hiệu ngành vàng nổi tiếng của Việt Nam nhận được sự tin tưởng, yêu quý của khách
                            hàng.
                        </p>
                        <p>Bảo Tín Mạnh Hải đồng thời là thành viên của Gia đình Bảo Tín - Gia đình có truyền thống tinh hoa lâu đời nhất tại miền Bắc Việt Nam trong nghề vàng. Bảo Tín Mạnh Hải luôn đặt sự tín nhiệm của khách hàng và văn hoá gia đình gắn
                            kết làm triết lý kinh doanh và giá trị nền tảng cho sự phát triển.</p>
                        <p>Bảo Tín Mạnh Hải luôn tâm niệm “Vàng là mồ hôi nước mắt, tài sản quý trong mỗi gia đình, người kinh doanh trên thứ tài sản ấy phải có một tấm lòng vàng”. Đây chính là kim chi nam cho mọi hoạt động kinh doanh vàng dựa trên chữ TÂM,
                            TÍN và TÀI...</p>
                    </div>
                    <div class="intro-btn-more">
                        <a href="#">Giới thiệu chi tiết</a>
                    </div>
                </div>
                <div class="col-5 content-intro-right px-0">
                    <iframe class="content-video" src="https://www.youtube.com/embed/jNQXAC9IVRw"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="content-my-service">
        <div class="content-news-title d-flex justify-content-center align-items-center my-5">
            <img class="mx-2" src="./assets/image/line-left.png">DỊCH VỤ CỦA CHÚNG TÔI<img class="mx-2" src="./assets/image/line-right.png">
        </div>
        <div class="content-serivce-banner container">
            <div class="row">
                <div class="col-md-4 px-3">
                    <div class="item">
                        <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/xu-huong-nhan-cuoi-2017-1.jpg">
                        <div class="item-text">
                            <h3 class="text-center">TÂN TRANG, SỬA CHỮA TRANG SỨC</h3>
                            <p class="text-center">Dịch vụ gồm thợ kim hoàn lành nghề và sử dụng công nghệ cao</p>
                            <a class="d-flex justify-content-center" href="#">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-3">
                    <div class="item">
                        <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/anh2_0.jpg">
                        <div class="item-text">
                            <h3 class="text-center">GIÁM ĐỊNH TUỔI VÀNG</h3>
                            <p class="text-center">Dịch vụ giám định tuổi vàng với máy móc hiện đại nhanh chóng và chính xác</p>
                            <a class="d-flex justify-content-center" href="#">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-3">
                    <div class="item">
                        <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/gia-vang-hom-nay-29-7-2016.1.1.jpg">
                        <div class="item-text">
                            <h3 class="text-center">GIA CÔNG CHẾ TÁC</h3>
                            <p class="text-center">Dịch vụ gia công chế tác với chất lượng sản phẩm tinh xảo và giá cả hợp lý</p>
                            <a class="d-flex justify-content-center" href="#">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-service-badge container my-5">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="item px-3">
                        <div class="row py-3">
                            <div class="col-md-3 item-img">
                                <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/diamond.png">
                            </div>
                            <div class="col-md-9">
                                <h3>MIỄN PHÍ</h3>
                                <p>LÀM SẠCH TRỌN ĐỜI</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="px-3 item">
                        <div class="row  py-3">
                            <div class="col-md-3 item-img">
                                <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/clipboard.png">
                            </div>
                            <div class="col-md-9">
                                <h3>ĐẠT CHUẨN</h3>
                                <p>KIỂM ĐỊNH QUỐC GIA G.I.V & <a href="">ĐƯỢC NHÀ NƯỚC CẤP PHÉP MUA BÁN VÀNG
                                        MIẾNG</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="  px-3 item">
                        <div class="row  py-3">
                            <div class="col-md-3 item-img">
                                <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/star.png">
                            </div>
                            <div class="col-md-9">
                                <h3>28 NĂM</h3>
                                <p>HÌNH THÀNH VÀ PHÁT TRIỂN
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class=" px-3 item">
                        <div class="row  py-3">
                            <div class="col-md-3 item-img">
                                <img class="mw-100" src="https://baotinmanhhai.vn/web/uploads/banner/gold-medal.png">
                            </div>
                            <div class="col-md-9">
                                <h3>TOP 10</h3>
                                <p>THƯƠNG HIỆU, NHÃN HIỆU NỔI TIẾNG 2018</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>