a:hover {
    color: #F8C73F!important;
}

.img-fluid {
    height: 240px;
}

.new-product-item {
    padding: 0px 15px;
}

.new-product-content {
    padding: 15px 15px;
    border: 1px solid #E5E5E5;
}

.new-product-tilte a {
    color: #211F2C;
    font-size: 15px;
    font-weight: 500;
}

.new-product-id {
    margin: 10px 0px;
}

.new-product-tilte {
    margin: 10px 0px;
}

.new-product-contact {
    color: #FF141F;
    font-size: 16px;
    font-weight: 400
}

.carousel-control-prev {
    /* width: 5%;
    margin-left: 200px; */
    position: relative;
    width: 100%;
}

.carousel-control-next {
    /* width: 5%;
    margin-right: 200px; */
    position: relative;
    width: 100%;
}

.carousel-control-prev img {
    height: 30px;
}

.carousel-control-next img {
    height: 30px;
}

ul {
    list-style-type: none;
}