/* You can add global styles to this file, and also import other style files */

a:hover {
    color: rgb(255, 219, 13)!important;
    text-decoration: none;
}

a {
    text-decoration: none!important;
}

.header-top {
    background-color: black;
    border-bottom: 3px solid #F8C73F;
}

.header-below {
    background-color: #9E1B30;
}

.header-top a {
    color: #fff;
}

.header-top-content {
    display: table-cell;
    font-size: 11px;
    line-height: 27px;
    padding: 0 20px;
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
}

.fit-image {
    width: 50%;
}

.header-below-logo {
    padding: 15px 0px;
}

.header-below-menu-top {
    border-bottom: 1px solid #ffffff;
}

.header-below-menu-top a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding: 0px 20px;
}

.header-below-menu-bottom a {
    text-decoration: none;
    color: #F8C741;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.header-below-menu-bottom {
    padding: 10px 0px;
}

.header-btn {
    height: 36px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin: 10px 20px;
}

.search-input {
    border: none;
    height: 36px;
    border-radius: 30px;
    width: 100%;
    font-size: 13px;
    padding: 0px 20px;
}

input:focus {
    outline: none;
}

.header-menu-item {
    margin: 0px 10px;
}

.img-banner {
    height: 700px;
}

.content .content-slide-top .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.content .content-slide-top .carousel-indicators .active {
    background-color: #ff0000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.carousel-indicators li {
    background-color: #e3c390;
    border: none;
}

.content-menu-top .content-menu-top-item a {
    color: #211F2C;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 20px 20px;
    text-decoration: none;
}

.content-menu-bottom .content-menu-bottom-item a {
    color: #211F2C;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    margin: 20px 25px;
    text-decoration: none;
}

.content-title-top-logo img {
    height: 120px;
    margin-top: 50px;
}

.content-title-top h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    color: #211F2C;
    margin: 20px 20px 50px 20px;
}

.content-title-top {
    border-top: 3px solid #F8C73F;
    background: url(https://baotinmanhhai.vn/web/uploads/slide/2568_2.jpg) 50% 0% no-repeat;
}

.content-title-top h2 {
    font-weight: 500;
    text-transform: uppercase;
    color: #211F2C;
    font-size: 24px;
    margin: 0px 20px;
}

.content-title-top-text-2 {
    margin: 50px 20px 20px 20px;
}

.content-menu-bottom {
    margin-bottom: 20px;
}

.content-menu {
    border-bottom: 1px solid #F6F6F8;
}

.content-new-product-title {
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 400;
}

.content-new-product-slide {
    width: 100%;
    height: 420px;
    border: none;
}

.content-highlight-product-title {
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 400;
}

.banner {
    height: 345px;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.content-news-title {
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 400;
}

.img-responsive {
    max-width: 100%;
}

.content-news-item .item {
    padding: 0px 15px;
}

.content-news .item-title a {
    color: #211F2C;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.item-description {
    color: #6E6E6E;
    font-size: 14px;
    font-weight: 400;
}

.content-news .item-more a {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3d3d3d;
    text-decoration: none;
}

.content-news .btn-more a {
    color: #fff;
    background-color: #9E1B30;
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;
    text-decoration: none;
}

.content-intro-left {
    background-color: #9E1B30;
}

.intro-title h1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.intro-detail p {
    font-size: 13px !important;
    font-weight: 200;
    line-height: 20px;
    color: white;
}

.intro-btn-more a {
    padding: 8px 35px;
    background-color: #fff;
    display: inline-block;
    border-radius: 40px;
    color: #9E1B30;
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
}

.content-video {
    width: 100%;
    height: 100%;
    border: none;
}

.content-serivce-banner {
    background-color: #EFEFF4;
    padding-bottom: 25px;
}

.content-serivce-banner .item img {
    padding: 94px;
    margin-top: -64px;
    border-radius: 50%;
}

.content-serivce-banner .item-text {
    /* border: 1px solid #ccc; */
    background-color: #fff;
    padding: 80px 20px 50px;
    /* margin-bottom: 50px; */
    border-radius: 10px;
    margin-top: -180px;
    min-height: 288px;
}

.content-serivce-banner .item-text h3 {
    color: #9E1B30;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 35px;
}

.content-serivce-banner .item-text a {
    padding: 10px 0 0;
    color: #000;
    margin-top: 0px;
    text-decoration: underline;
    display: inline-block;
}

.content-service-badge .item {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
}

.content-service-badge h3 {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.content-service-badge .item a {
    color: #337ab7;
    text-decoration: none;
}

.content-service-badge p {
    font-size: 11px;
    font-weight: 500;
    color: #6E6E6E;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}


/* .content-service-badge .item-img {
    margin-bottom: 41px;
} */

.footer-left {
    padding-top: 126px;
    background-color: #9E1B30;
    text-align: center;
}

.footer-right {
    background-color: #272535;
}

.footer-left h2 {
    font-size: 18px;
    /* font-weight: bold; */
    color: #F8C741;
    /* font-family: "Times New Roman"; */
    font-weight: 400;
}

.footer-left p {
    color: #fff;
    font-size: 12px
}

.footer-right .address {
    color: #F8C741;
}

.footer-right h3 {
    font-size: 18px;
}

.footer-right p {
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 100;
}

.footer-right a {
    color: #F8C741;
    text-decoration: none;
}

.footer-menu h3 {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 25px;
    border-bottom: 1px solid #F8C73F;
}

.footer-menu p {
    font-size: 13px;
    color: #fff;
    padding: 0px 0 10px 0;
    line-height: 23px;
}

.footer-menu input {
    background-color: #951c30;
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    max-width: 100%;
    padding-right: 0;
}

.footer-menu input::placeholder {
    color: #fff;
    font-size: 13px;
}

.footer-menu a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.footer-info {
    color: #fff;
    border-top: 1px solid white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}