*{
    padding: 0px;
    margin: 0;
    text-decoration: 0;
    list-style: none;
}

body{
    font-family: Arial;
}

nav{
    height: 50px;
    width: 100%;
    background: black;
}

label.logo{
    font-size: 35px;
    font-weight: bold;
    color:yellow;
    padding: 0 100px;
    line-height: 50px;
}

nav ul{
    float: right;
    margin: 40px;
    background: red;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    padding-top: 80px;
}