table {
    text-align: center;
}
thead {
    background-color: #9E1B30;
    color: white;
}
tbody {
    background-color: #FFFCD6;
    color: #9E1B30;
}
.fa-arrow-down {
    color: red;
}
.fa-arrow-up {
    color: green;
}

.spinner {
    padding: 100px;
}