* {box-sizing: border-box}
body {font-family: SVN Gotham !important;}
.mySlides {display: none}
img {vertical-align: middle;}


/* Slideshow container */
.slideshow-container {
    position: static;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: gold;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: indianred;
}

/* Fading animation */
.fade-homepage {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade-homepage {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade-homepage {
    from {opacity: .4}
    to {opacity: 1}
}

/* Header Top */
.header__top_menu {
    height: 35px;
    background-color: black;
    color: white;
    border-bottom: 3px solid gold;
}

.tab-content .content img{
    max-width: 100%;
}
.header__top_menu_hotline li:first-child {
    padding-right: 40px;
}

.header__top_menu_hotline li, .header__top_menu_support li {
    box-sizing: border-box;
    float: left;
    height: 30px;
    padding: 0;
    list-style: none;
}

.header__top_menu_hotline li a:hover, .header__top_menu_support li a:hover{
    color: gold;
}

.header__top_menu_hotline li a, .header__top_menu_support li a {
    display: table-cell;
    font-size: 11px;
    line-height: 27px;
    padding: 0 20px;
    vertical-align: middle;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.header__top_menu_hotline-login:before, .header__top_menu_hotline-register:before {
    content: '|';
    position: absolute;
    top: 5px;
}

.container__top_logo {
    text-align: center;
    padding-top: 70px;
}

.container__top_logo img {
    margin: auto;
}

.container__top_logo h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;

}

.container__top_menu {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}

.container__top_menu h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    padding-bottom: 10px;
}

.container__top_menu ul li {
    padding: 10px 11px;
    display: inline;
    float: none;
    text-align: center;
}

.container__top_menu ul li:after {
    content: '|';
    top: 4px;
}

.container__top_menu ul li a {
    padding: 0 20px 0 10px;
    color: black;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.container__top_menu ul li a:hover{
    color: gold;
    text-decoration: none;
}

.container__product_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.container__product_card h6{
    text-align: left;
    padding-top: 5px;
}

.container__product_price {
    padding: 0 15px;
    min-height: 44px;
}

.container__product_card:hover {
    opacity: 0.7;
}

.container__banner {
    margin-top: 30px;
}

.background {
    width: 100%;
    height: 100%;
    transition: transform 300ms;
    perspective: 1000px;
    background-repeat: no-repeat;
}

.category {
    position: relative;
    float: left;
    text-align: center;
    overflow: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.category:hover{
    transform: scale(1.05)
}

.container__news_content {
    box-sizing: border-box;
}
.container__news .container_news_item {
    padding: 20px 0px;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 20px;
    font-style: normal;
    padding: 0 30px;
}


.container_news_item .view-more {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.view-more:hover{
    color: gold;
}

.container_news_item__name h3 {

    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
    min-height: 100px;

}

.container_news_item__name h3 a{
    text-decoration: none;
    color: black;
}

.container_news_item__name h3 a:hover{
    color: gold;
}


.view_all {
    color: white;
    background-color: #9E1B30;
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;
    justify-content: center;
}

.view_all:hover{
    color: gold;
}



.container__home_about_left {
    background-color: #9E1B30;
    padding-left: 100px;
    padding-right: 60px;
    color: #fff;
    height: 430px;
    display: table-cell;
}

.container__home_about_left_view-more{
    box-sizing: border-box;
}

.container__home_about_left_view-more a {
    padding: 8px 35px;
    background-color: white;
    display: inline-block;
    margin: 18px 0 23px;
    border-radius: 40px;
    color: #9E1B30;
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

.container__home_about_left_view-more a:hover{
    color: gold;
}


.container__home_service_box {
    background-color: white;
    padding: 80px 20px 50px;
    border-radius: 10px;
    margin-top: 114px;
    position: relative;
    min-height: 288px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

.container__home_service_box img {
    position: absolute;
    top: -145px;
    left: 25px;
    padding: 62px;
    height: 100%;
    border-radius: 50%;
}

.container__home_service_box h3 {
    color: #9E1B30;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 35px;

}

.container__home_service_box a {
    padding: 10px 0 0;
    border-bottom: 1px solid #A4A4A4;
    color: #000;
    margin-top: 0px;
    display: inline-block;

}

.container__home_service_box a:hover{
    color: gold;
    text-decoration: none;
}

.carousel-indicators .active {
    background-color: #ff0000;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e3c390;
}

.container__home_footer {
    display: flex;
    margin: 0 -15px;
    padding-top: 30px;
}
.container__home_footer_box {
    border: 1px solid #ccc;
    display: flex;

    padding: 23px 0;
    border-radius: 5px;

}

.container__home_footer_box img {
    margin-bottom: 45px;
    height: 35px;
}

.container__home_footer_box h3 {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.container__home_footer_box p {
    font-size: 11px;
    font-weight: 500;
    color: #6E6E6E;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.container__home_footer_box a:hover{
    color: gold;
    text-decoration: none;
}
p{
    font-size: 15px;
    font-family: SVN Gotham !important;
    margin: 5px 0 0 0;
    color: white;
}
#footer{
    border-top: 4px solid gold;
}
#address{
    padding: 20px 0;
    color: gold;

}
h3{
    font-size: 18px;
}
h4{
    font-size: 15px;
    color: white;
    font-weight: 600;
    border-bottom: 2px solid white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: gold;
}
.link-custom{
    text-align: center;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #951c30;
}

.header__below {
    /*height: 110px;*/
    background-color: #9E1B30;
}

.header__below_menu_top ul li {
    border: 1px solid #fff;
    margin: 5px 13px 12px 15px;
    padding: 5px 10px;
    border-radius: 30px;
    height: 36px;
    list-style: none;
    float: left;
}

.header__below_menu_top ul li:first-child {
    margin-left: 0;
}

.header__below_menu_top ul li:last-child {
    padding: 0;
    border: none;
    float: right;
    flex-grow: 2;
    margin-right: 0;
}

.header__below_menu_top ul li:last-child input {
    border: none;
    height: 36px;
    border-radius: 30px;
    width: 100%;
    padding: 5px 20px;
}

.header__below_menu_top a {
    color: #fff;
    margin: 10px;
    font-size: 13px;
    text-decoration: none;
}

.header__below_menu_top a:hover{
    color: gold;
}

.header__below_menu_top ul {
    display: inline-flex;
    margin-bottom: 0;
}

.header__below_menu_top ul {
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 0px;
}

.header__below_menu_below ul li {
    padding: 12px 8px;
    float: left;
    margin: 2px;
    text-align: center;
}

.header__below_menu_below a {
    color: #F8C741;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}

.header__below_menu_below a:hover{
    color: goldenrod;
}

.header__below_menu_below ul li {
    padding: 12px 8px;
    float: left;
    margin: 2px;
    text-align: center;
    display: flex;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}