.header_top{
  background-color: black;
  border-bottom: 3px solid gold;
}

.header_top a{
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12.5px;
}

.header_top a:hover{
  color: gold;
}


.header_middle a{
  color: white;
  text-decoration: none;
}

.header_middle{
  background-color:#9E1B30;
}

.header_middle a:hover{
  color: gold;
}

ul {
  list-style-type: none;
}

.row2 a{
  color: #F8C741;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.row1 {
  border-bottom: 1px solid white;
}

.body_1{
  border-bottom: 3px solid gold;
}

.body_1 a{
  color: black;
  text-decoration: none;
}

.body_1 a:hover{
  color: gold;
}

.body_2{
  background: url(https://baotinmanhhai.vn/web/uploads/slide/2568_2.jpg) 50% 0% no-repeat ;
  border: 2px solid #f6f6f8;
}

.body_2 a{
  text-decoration: none;
  color: black;
}
.body_2 a:hover{
  color: gold;
}

.body_slide a{
  color: black;
  text-align: center;
}

.body_button_xemnhieuhon a{
  color: #fff;
  background-color: #9E1B30;
  padding: 10px 40px;
  border-radius: 40px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 30px;
  text-decoration: none;
}
.body_button_xemnhieuhon a:hover{
  color: gold;
}



.body_video a{
  color: #9E1B30;
  background-color: #fff;
  padding: 10px 40px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
}

.body_video a:hover{
  color: gold;
}

.body_dichvu{
  background-color: #efeff4;
  padding-bottom: 30px;
}

.body_dichvu img{
  max-width: 100%;
  width: 50%;
}

.body_dichvu a{
  text-decoration: none;
}

.body_dichvu a:hover{
  color: gold;
}
.body_3{
  background-color: #fff;
  margin-top: -100px;
}

.body_video{
  background-color: #9E1B30;
}

.body_video h5{
  color: white;
}

.content-service-badge .item {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}

.content-service-badge h3 {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
}

.content-service-badge p {
  font-size: 11px;
  font-weight: 500;
  color: #6E6E6E;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.body_dichvu a:hover{
  color: gold;
}

.body_dichvu a{
  font-size: 14px;
  font-weight: 650;
  color: #3d3d3d;
  text-decoration: underline;
}

.body_dichvu h6{
  padding-top: 120px;
  color: #9E1B30;

}

.body_4 a{
  text-decoration: none;
}

.body_4 a:hover{
  color: gold;
}
.footer_row a:hover{
  color: gold  ;
}

.footer_row a{
  text-decoration: none;
  color: #fff;
}

.footer_button a{
  color: #fff; background-color: #9E1B30; padding: 10px 40px;border-radius: 40px;font-weight: 400;display: inline-block;margin-bottom: 20px;margin-top: 30px;
}

.footer_button a:hover{
  color: gold;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
